@inherits LayoutComponentBase

<PageTitle>The Librarian</PageTitle>

@* <span style="color:white">before the page class</span> *@

<div class="page vh-100">
    <div class="backgroundimage">
    </div>
    @* <span style="color:white">before main</span> *@
     <main >
         @* <span style="color:white"> before the article</span> *@
        <article class="content px-3 d-flex justify-content-center align-items-center">
            
            @Body
            
        </article>
        @* <span style="color:white">after the article</span> *@
    </main>
    @* <span style="color:white">after main</span> *@
</div>
@* <span style="color:white">after the page class</span> *@

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
