@inject ILogger<BookMetaDataComponent> Logger

@if (BookMeta != null)
{
    <li class="list-group-item border-1">
        <div class="card" @onclick="@(() => BookCardClicked(BookMeta.OpenSearchId))">
            <div class="card-body">
                <i class="fa-solid fa-book"></i> <span class="fs-6">@titleToShow</span>
            </div>
            <div class="card-footer">
                <span class="text-muted" style="font-size:0.6rem">@BookMeta.FilePath</span>
            </div>
        </div>
    </li>
}

@code {
    [Parameter]
    public IEbookMetaData? BookMeta { get; set; }

    private string? titleToShow;

    [Parameter]
    public EventCallback<string> OnBookClicked { get; set; }

    async Task BookCardClicked(string input)
    {
        Logger.LogInformation("User selected book card {var} ", input);
        await OnBookClicked.InvokeAsync(input);
    }
    protected override async Task OnParametersSetAsync()
    {
        int extensionMarker = BookMeta.FileName.LastIndexOf('.');
        titleToShow = BookMeta.FileName.Substring(0, extensionMarker);

    }
}
