@implements IDisposable
@inject ILogger<BookMetaDataListComponent> Logger
@inject IEbooksFinder ebooksFinder

<div class="position-relative d-flex flex-column p-3 justify-content-center">
    <span id="topoflist"></span>
    @if (_ebookMetaDatas != null && _ebookMetaDatas.Count > 0)
    {
        <div class="my-lg-2 my-sm-0">
            <span class="metalistinfo"> Number of books found: @_numberOfSearchResults and Search took: @_searchTime seconds</span>
                <div>
                <Virtualize Items="_ebookMetaDatas" Context="ebook">
                    <BookMetaDataComponent BookMetaData="@ebook"
                    OnBookClicked="@HandleOnBookClicked" />
                </Virtualize>
            </div>
        </div>
    }
    else
    {
        <div class="position-relative justify-content-center d-inline-flex fs-5">
            <div class="d-inline-flex justify-content-center align-items-center">
                <div style="width:15rem">@_informativeMessage  <i class="@(_rotating?"fa-solid fa-cog fa-spin":"")" /> </div>
            </div>
        </div>
    }
</div>

@code {
    private string _informativeMessage = "Follow the white rabbit.   ";
    private bool _rotating = false;

    private List<IEbookMetaData>? _ebookMetaDatas = new();
    private SearchParameters _searchParameters = new();
    private int _numberOfSearchResults = 0;
    private int _searchTime = 0;

    private Stopwatch sw = new Stopwatch();

    [Parameter]
    public SearchParameters SearchParameters
    {
        get { return _searchParameters; }
        set { _searchParameters = value; }
    }

    [Parameter]
    public EventCallback<string> OnBookIdReceived { get; set; }

    [Parameter]
    public bool DoSearch { get; set; } = true;

    async Task HandleOnBookClicked(string bookId)
    {
        await OnBookIdReceived.InvokeAsync(bookId);
    }

    protected override async Task OnInitializedAsync()
    {
        timerForAnimation = new PeriodicTimer(TimeSpan.FromMilliseconds(500));
        AnimateTheWhiteRabbit();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(_searchParameters.SingleSearchString) && DoSearch)
        {
            cancellationTokenSourceForAnimation.Cancel();
            _rotating = true;
            _informativeMessage = "Searching the library.";

            // this timer belongs more inside the ebooksFinder itself but for now it works.
            // for next time I encounter this: the cancellationtokensource has a cancelafter method.
            CancellationTokenSource cancellationTokenSourceSearchTimeout = new();
            TimeOutTimer(cancellationTokenSourceSearchTimeout);

            sw.Start();
            _ebookMetaDatas?.Clear();
            (_numberOfSearchResults, _ebookMetaDatas) = await ebooksFinder.FindEBooksAsync(_searchParameters, cancellationTokenSourceSearchTimeout.Token);
            sw.Stop();
            _searchTime = (int)sw.ElapsedMilliseconds / 1000;
            sw.Reset();

            if (_ebookMetaDatas == null || _ebookMetaDatas.Count == 0)
            {
                _informativeMessage = "No results found, try again..";
                _rotating = false;
            }
        }
        else
        {
            Logger.LogInformation("{var} - {var2} Search filter is empty",nameof(BookMetaDataListComponent), nameof(OnParametersSetAsync));
        }
    }

    private async Task TimeOutTimer(CancellationTokenSource cts)
    {
        Timer timer = new Timer(CancelSearch, cts, 6000, Timeout.Infinite);
    }

    private void CancelSearch(object x)
    {
        if (_ebookMetaDatas is null || _ebookMetaDatas.Count == 0)
        {
            Logger.LogInformation("{var} - {var2} - Cancelling the search after 6 seconds! Is the repository active?", nameof(BookMetaDataListComponent),nameof(CancelSearch));
            CancellationTokenSource cancellationTokenSource = (CancellationTokenSource)x;
            cancellationTokenSource.Cancel();
        }
    }

    // add animated message
    private PeriodicTimer timerForAnimation;
    CancellationTokenSource cancellationTokenSourceForAnimation = new();

    private static string[] messages =
       {
           "Follow the white rabbit.   ",
           "Follow the white rabbit..  ",
           "Follow the white rabbit... ",
           "Follow the white rabbit...."
    };
    private int whichMessage = 0;


    private async Task AnimateTheWhiteRabbit()
    {
        while (await timerForAnimation.WaitForNextTickAsync(cancellationTokenSourceForAnimation.Token))
        {
            Logger.LogDebug("{var} - {var2} Status of token: {var3}",nameof(BookMetaDataListComponent),nameof(AnimateTheWhiteRabbit), cancellationTokenSourceForAnimation.Token.IsCancellationRequested);
            _informativeMessage = messages[whichMessage];
            StateHasChanged();
            whichMessage++;
            if (whichMessage >= messages.Length)
            {
                whichMessage = 0;
            }
        }
        Logger.LogInformation("{var} - {var2} Ended the timer for updating the information message",nameof(BookMetaDataListComponent),nameof(AnimateTheWhiteRabbit));
    }
    // animated message


    public void Dispose()
    {
        Logger.LogInformation("{var} - Disposing of {var2}",nameof(BookMetaDataListComponent),nameof(AnimateTheWhiteRabbit));
        cancellationTokenSourceForAnimation.Cancel();        
    }
}
