@inject ILogger<BookMetaDataComponent> Logger
@inject NavigationManager NavigationManager

@if (BookMeta != null)
{
    <hr />
    <div class="mb-1 mt-0 pointer" @onclick="@(() => BookCardClicked(BookMeta.OpenSearchId))">
        <div class="p-1">
            <i class="fa-solid fa-book"></i> <span class="fs-6">@titleToShow</span>
        </div>
        <div class="d-inline p-1">
            <span style="font-size:0.6rem">@BookMeta.FilePath</span>
        </div>
    </div>
}

@code {
    [Parameter]
    public IEbookMetaData? BookMeta { get; set; }

    private string? titleToShow;

    [Parameter]
    public EventCallback<string> OnBookClicked { get; set; }

    async Task BookCardClicked(string input)
    {
        Logger.LogInformation("User selected book card {var} ", input);
        await OnBookClicked.InvokeAsync(input);
        
    }
    protected override async Task OnParametersSetAsync()
    {
        int extensionMarker = BookMeta.FileName.LastIndexOf('.');
        titleToShow = BookMeta.FileName.Substring(0, extensionMarker);

    }
}
