<div class="position-relative">

    <p class="text-center my-5"> <br />What you see here <br /> is an effort at making esoteric texts searchable in an easy and quick way. <br /><br /> The collection consists of nearly 4000 digital books. <br /> Just search for something and hit enter. </p>
</div>

@code {

}
