<div class="position-relative fs-5 justify-content-center d-flex" >
        <div class=" text-center"><p>What you see here is an effort <br/> at making esoteric texts searchable in an easy and quick way. <br /><br /> The collection consists of nearly 4000 digital books. <br /> Just search for something and hit enter.</p></div>
</div>

@code {

}
