<div class="position-relative justify-content-center" >
        <div class="text-center fs-5"><p>What you see here is an effort at making esoteric texts searchable in an easy and quick way. The collection consists of nearly 4000 digital books. <br /><br/> Just search for something and hit enter.</p></div>
</div>

@code {

}
