
<div class="position-relative p-1 m-2 justify-content-center d-flex">
    <div class="position-relative justify-content-center d-inline-block ">
        <div class="d-flex d-inline-block justify-content-center my-2">
            <input type="text"
                   @bind-value="SearchParameters.SingleSearchString"
                   @bind-value:event="oninput"
                   placeholder="Search here"
                   @onkeydown="SearchBoxEnterClicked"
                   class="fs-3 librarianinput" />

            <button type="button"
                    @onclick="SearchButtonClicked"
                    class="btn btn-primary">
                <i class="fa fa-search fa-l librarianbutton">
                </i>
            </button>
        </div>
        <div class="d-flex d-inline-block justify-content-start fs-5">

            <input type="checkbox"
                   @bind-value="SearchParameters.OnlyReference" />
            <label class="mx-2">Limit search to my selected reference books? </label>
        </div>
        <div class="d-flex d-inline-block justify-content-start fs-5">

            <input type="checkbox"
                   @bind-value="SearchParameters.AlsoTarot" />
            <label class="mx-2">Limit search to tarot books? </label>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public SearchParameters SearchParameters { get; set; } = new();

    [Parameter]
    public EventCallback<SearchParameters> OnSearchToBePerformed { get; set; }

    private void SearchButtonClicked()
    {
        OnSearchToBePerformed.InvokeAsync(SearchParameters);
    }

    private void SearchBoxEnterClicked(KeyboardEventArgs k)
    {
        if (k.Key == "Enter" && (SearchParameters != null) && !string.IsNullOrEmpty(SearchParameters.SingleSearchString))
        {
            OnSearchToBePerformed.InvokeAsync(SearchParameters);
        }
    }
}
